<header>

    <nav class="navbar colored-background">
		<div class="container-fluid center">
		  <span class="navbar-brand mb-0 h1"><strong> Result Management System </strong>
		
		
			<% if(loggedin=='true'){ %>

				<a href="/logout">
					<button type="button" class="btn btn-danger">Logout</button>
					</a>
						
			
				<% }%>

		
		
		
		</span>
		  
		</div>
		



	  </nav>

	
	 
    </header>